/* From Uiverse.io by mi-series */ 
.corpo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d2d2d;
  height: auto;
  width: auto;
  padding: 20px;
  border: 2px solid #fff8e7;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #fff8e7;
}

.title {
  color: #fff8e7;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #fff433;
  box-shadow: 3px 4px 0px 1px #fff433;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #fff433;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #9b59d0;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #fff433;
}

.btn:hover {
  opacity: .9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

@media (max-width: 768px) {
  .form_area {
    border: none;
    box-shadow: none;
  }
}